{{ if .IsHome -}}
<script type="application/ld+json">

{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "{{ .Site.BaseURL }}",
  {{ if .Site.Author.name -}}
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Author.name }}"
  },
  {{- end }}
  {{ if .Site.Params.description -}}
  "description": "{{ .Site.Params.description }}",
  {{- end }}
  {{ with .Site.Params.image -}}
  "image": "{{ .url | absURL }}",
  {{- end }}
  {{ with .Site.Params.logo -}}
  "thumbnailUrl": "{{ .url | absURL }}",
  {{- end }}
  {{ with .Site.Copyright -}}
  "license": "{{ . }}",
  {{- end }}
  "name": "{{ .Site.Title }}"
}

</script>
{{/*
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://www.statistician-online.com//search?&q={query}",
    "query-input": "required"
  } */}}
  
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "image": [
    "https://www.statistician-online.com/images/bio.png",
    "https://www.statistician-online.com/images/cover.png"
   ],
  "@id": "https://www.statistician-online.com/",
  "name": "Statistician Online",
  "priceRange" : "£££",
  "description": "Looking to hire a professional and accredited statistician online? I am freelance medical statistician, based in UK offering consultancy services online in all statistics aspect of data analysis",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Great Meadow Road",
    "addressLocality": "Bristol",
    "addressRegion": "South Gloucestershire",
    "postalCode": "BS32 8DB",
    "addressCountry": "GB"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 51.525883,
    "longitude": -2.536412
  },
  "aggregateRating": {
      "@type": "AggregateRating",
              "ratingValue": "4",
              "bestRating": "5",
              "worstRating": "1",
              "ratingCount": "1"
    },
  "url": "",
  "telephone": "+447392339862",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "17:30",
      "closes": "23:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Saturday",
        "Sunday"
      ],
      "opens": "00:00",
      "closes": "23:59"
    }
    
  ]
  
  
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "About me",
    "item": "https://www.statistician-online.com/"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Data management",
    "item": "https://www.statistician-online.com/1-data-management/"
  },{
    "@type": "ListItem",
    "position": 3,
    "name": "Statistical Models",
    "item": "https://www.statistician-online.com/4-statistical-modelling/"
  },{
    "@type": "ListItem",
    "position": 4,
    "name": "Reviews",
    "item": "https://www.statistician-online.com/reviews"
  }]
}
</script>

{{- else if .IsPage -}}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ .Title }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  {{ if ge (.Param "pageimage.image.width") 696 -}}
  "image": {
    "@type": "ImageObject",
    "url": "{{ .Param "pageimage.image.url" | absURL }}",
    "width": {{ .Param "pageimage.image.width" }},
    "height": {{ .Param "pageimage.image.height" }},
    "alt": {{ .Param "pageimage.image.alt" }}
  },
  {{- else if ge .Site.Params.image.width 696 -}}
   "image": {
    "@type": "ImageObject",
    "url": "{{ .Site.Params.image.url | absURL }}",
    "width": {{ .Site.Params.image.width }},
    "height": {{ .Site.Params.image.height }},
    "alt": {{ .Param "pageimage.image.alt" }}
  },
  {{- end }}
  "genre": "{{ .Type }}",
  {{ with .Params.tags -}}
  "keywords": "{{ delimit . ", " }}",
  {{- end }}
  "wordcount": {{ .WordCount }},
  "url": "{{ .Permalink }}",
  {{ if not .PublishDate.IsZero -}}
  "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
  {{- else if not .Date.IsZero -}}
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
  {{- end }}
  {{ with .Lastmod -}}
  "dateModified": "{{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
  {{- end }}
  {{ with .Site.Copyright -}}
  "license": "{{ . }}",
  {{- end }}
  {{ with .Site.Params.publisher -}}
  "publisher": {
    "@type": "Organization",
    "name": "{{ .name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .logo.url | absURL }}",
      "width": {{ .logo.width }},
      "height": {{ .logo.height }}
    }
  },
  {{- end }}
  {{ if .Params.author -}}
  "author": {
    "@type": "Person",
    "name": "{{ .Params.author }}"
  },
  {{- else if .Site.Author.name -}}
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Author.name }}"
  },
  {{- end }}
  "description": "{{ .Description }}"
}
</script>


{{- end }}
