
<header> 
<nav aria-labelledby="mainnavigation" id="sidebar" class="{{if $.Site.Params.showVisitedLinks }}showVisitedLinks{{end}}">
<div class="highlightable">
  <div id="header-wrapper">
    <div id="header">
      {{ partial "header.html" . }}
    </div>
    {{- if not .Site.Params.disableSearch}}
        <div class="searchbox">
		    <label for="search-by"><i class="fa fa-search"></i></label>
		    <input data-search-input id="search-by" type="text" placeholder="{{T "Search-placeholder"}}">
		    <span data-search-clear=""><i class="fa fa-close"></i></span>
		</div>
		<script src="{{"js/lunr.min.js" | relURL}}"></script>
		<script src="{{"js/auto-complete.js" | relURL}}"></script>
		<script >
        {{ if .Site.IsMultiLingual }}
            var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
        {{ else }}
            var baseurl = "{{.Site.BaseURL}}";
        {{ end }}
		</script>
		<script src="{{"js/search.js" | relURL}}"></script>
    {{- end}}
  </div>

<ul class="topics">
  
 {{- if not .Site.Params.disableHomeIcon}}
            <li data-nav-id="{{"/" | relLangURL}}" class="dd-item">
            <a href="{{"/" | relLangURL}}" title = "Home" ><i class="fa fa-fw fa-home"></i></a>
            </li>
        {{- end}}
		
{{- partial "menu.html" . }}

		
{{- with .Site.Menus.shortcuts}}
       
  {{- range sort . "Weight"}}
  <li>
  {{- .Pre -}} <a href="{{.URL}}" target="_blank" rel="noopener">{{safeHTML .Name}} </a> {{- .Post -}}
  </li>
  {{- end}}
        

{{- if $.Site.Params.showVisitedLinks}}
    <li><a id="clear-history" href="#" data-clear-history-toggle=""><i class="fas fa-history fa-fw"></i> {{T "Clear-History"}}</a></li>
{{- end}}
{{- end}}

</ul>



</div>
</nav>
</header>


<div id="body">
<main>
<div class="padding highlightable">
  
{{if not .IsHome}}
<nav aria-labelledby="pagenavigation">
<div id="top-bar">
    
    
<div id="breadcrumbs">
        
        
<span id="sidebar-toggle-span">
          <a href="#" id="sidebar-toggle" data-sidebar-toggle="">
            <i class="fa fa-bars"></i>
          </a>
</span>

<span class="links">
{{ template "breadcrumb" dict "page" . "value" .Title }}   
</span>

</div>

</div>
</nav>
{{end}}

<article>
  
<div id="body-inner">

{{if not .IsHome}} <h1>{{.Title}}</h1> {{end}}


{{ if .IsPage }}
<span>{{ with .Lastmod -}}{{ .Format "January 2, 2006" | safeHTML }}{{end }}</span>
<span>|</span>
<span>Tags:{{ if .Params.tags }} {{range .Params.tags}}
  <a class="label label-default" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}
{{end}}</span>
{{end}}
  
{{define "breadcrumb"}}
{{ if .page.Parent}}
{{$value := (printf "<a href='%s'>%s</a> > %s" .page.Parent.URL .page.Parent.Title .value)}}
{{ template "breadcrumb" dict "page" .page.Parent "value" $value }} 
{{else}}
 {{.value|safeHTML}}
{{end}}
{{end}}
