
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="content-language" content="en-gb">
<meta name="referrer" content="origin-when-crossorigin">
<meta name="google-site-verification" content="79pJaZL9Ml5SMwNBDpQtddr8CW9_mU1Sr0CR7hNIBws" />
<meta name="p:domain_verify" content="6835ae5ad93aab1538e521c2642334a4"/>
<meta name="msvalidate.01" content="6CF94B92C7D01E764F5BC3DDEB0B98FF" />
<meta name="yandex-verification" content="121c50dfaec756b0" />
<meta content="{{ delimit .Keywords ", " }}" name="keywords">
<meta name="revised" content="{{ now.Format "2006-01-02T15:04:05 MST" }}">
<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
<meta name="title" content="{{ if .IsHome -}}
  {{ .Site.Title }}
{{- else -}}
  {{ .Title }} – {{ .Site.Title }}
{{- end }}" />
<link href="https://www.statistician-online.com/index.xml" rel="alternate" type="application/rss+xml" title="statistician-online">
<link href="https://www.statistician-online.com/index.xml" rel="feed" type="application/rss+xml" title="statistician-online">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320"/>


{{ partial "site-opengraph.html" . }}
{{ partial "site-twittercard.html" . }}
{{ partial "seo_schema" . }}
{{ template "_internal/google_analytics.html" . }}



<link rel="canonical" href="{{ .Permalink }}"/>
<link rel="alternate" href="{{ .Permalink }}" hreflang="x-default" />
<link rel="shortcut icon" href="{{"images/favicon.png" | relURL}}" type="image/x-icon" />
<link href="{{"css/nucleus.css" | relURL}}" rel="stylesheet">
<link href="{{"css/all.min.css" | relURL}}" rel="stylesheet">
<link href="{{"theme-original/style.css" | relURL}}" rel="stylesheet">
<link href="{{"css/hybrid.css" | relURL}}" rel="stylesheet">
<link href="{{"css/featherlight.min.css" | relURL}}" rel="stylesheet">
<link href="{{"css/auto-complete.css" | relURL}}" rel="stylesheet">
<link rel="stylesheet" href="{{"css/bootstrap.min.css" | relURL}}">


<style type="text/css">
  :root #header + #content > #left > #rlblock_left {
    display:none !important;
  }
</style>





<script src="{{"js/jquery-3.3.1.min.js" | relURL}}"></script>

{{ partial "custom-head.html" . }}




