<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<meta http-equiv="content-language" content="en-gb">
<meta name="referrer" content="origin-when-crossorigin">

<meta name="msvalidate.01" content="6CF94B92C7D01E764F5BC3DDEB0B98FF" />
<meta name="yandex-verification" content="121c50dfaec756b0" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134274550-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-134274550-1',{ 'optimize_id': 'GTM-WP8NZ63'});
</script>



{{ partial "site-opengraph.html" . }}
{{ partial "site-twittercard.html" . }}
{{ partial "seo_schema" . }}


<meta content="{{ delimit .Keywords ", " }}" name="keywords">
<meta name="revised" content="{{ now.Format "2006-01-02T15:04:05 MST" }}">
<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />

<meta name="title" content="{{ if .IsHome -}}
  {{ .Site.Title }}
{{- else -}}
  {{ .Title }} – {{ .Site.Title }}
{{- end }}" />

<link rel="canonical" href="{{ .Permalink }}"/>
<link rel="alternate" href="{{ .Permalink }}" hreflang="x-default" />

<link rel="shortcut icon" href="{{"images/favicon.png" | relURL}}" type="image/x-icon" />
<link href="{{"css/nucleus.css" | relURL}}" rel="stylesheet">
<link href="{{"css/font-awesome.min.css" | relURL}}" rel="stylesheet">
<link href="{{"theme-original/style.css" | relURL}}" rel="stylesheet">
<link href="{{"css/hybrid.css" | relURL}}" rel="stylesheet">
<link href="{{"css/featherlight.min.css" | relURL}}" rel="stylesheet">
<link href="{{"css/auto-complete.css" | relURL}}" rel="stylesheet">


{{with .Site.Params.themeVariant}}
  <link href="{{(printf "theme-original/variant-%s.css" .) | relURL}}" rel="stylesheet">
{{end}}

<link rel="stylesheet" href="{{"css/bootstrap.min.css" | relURL}}">
<script src="{{"js/jquery-2.x.min.js" | relURL}}"></script>
<style type="text/css">
  :root #header + #content > #left > #rlblock_left {
    display:none !important;
  }
</style>
{{ partial "custom-head.html" . }}




